<h2 mat-dialog-title>Плащане</h2>
<div mat-dialog-content>
    <div class="pay-container" *ngFor="let d of dues">
        <div>
            <span class="not-paid-history">{{d.month}}</span>
        </div>
        <div>
            <button (click)="payMonth(d.month)" mat-raised-button color="primary">Плати</button>
        </div>
    </div>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Отказ</button>
    <button mat-button color="primary" [mat-dialog-close]="data" cdkFocusInitial></button>
</div>