<div class="wrapper">
    <div class="header-toolbar">
        <div>
            <mat-form-field>
                <input matInput (keyup)="applyFilter($event)" placeholder="Търсене" #input>
            </mat-form-field>
        </div>
        <div>
            <button (click)="addUnit()" mat-button color="primary">
                <span class="material-icons">group_add</span>
            </button>
        </div>
    </div>

    <mat-accordion>
        <mat-expansion-panel hideToggle *ngFor="let u of units">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <h4 class="unit-header {{u.paidForMonth ? 'paid' : 'not-paid'}}">
                        Ап. {{ u.apartmentNumber }}, ет. {{ u.floorNumber }} &nbsp; <i>{{u.name}}</i>
                    </h4>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="unit">
                <span class="expenses">{{u.toPay}} лв./месец</span>
                <h4 class="unit-header">
                    {{u.inhabitantsCount}} {{u.inhabitantsCount > 1 ? " човека" : " човек"}}
                    <span class="{{u.hasPets ? 'material-icons' : ''}}">{{u.hasPets ? "pets" : ""}}</span>
                </h4>
                <div>
                    <span class="material-icons">call</span> &nbsp; {{ u.phoneNumber }}
                </div>
                <div>
                    <span class="material-icons">email</span> &nbsp; {{ u.email }}
                </div>
            </div>
            <div class="unit">
                <h4 class="unit-header">Плащания</h4>
                <div class="{{h.isPaid ? 'paid-history' : 'not-paid-history'}}" *ngFor="let h of u.history">
                    {{h.month}}
                </div>
            </div>
            <mat-action-row>
                <button (click)="pay(u)" mat-button color="primary">
                    <span class="material-icons">payment</span>
                    <span>Плащане</span>
                </button>
                <button (click)="editUnit(u)" mat-button color="primary">
                    <span class="material-icons">edit</span>
                    <span>Промени</span>
                </button>
                <button (click)="deleteUnit(u)" mat-button color="warn">
                    <span class="material-icons">delete_forever</span>
                    <span>Изтрий</span>
                </button>
            </mat-action-row>
        </mat-expansion-panel>
    </mat-accordion>
</div>