.wrapper {
  margin-top: 55px;
}

.header-toolbar {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
  padding: 5px;
  margin-left: 5px;
}

.unit {
  font-size: 15px;
  padding: 5px;
  margin-left: 10px;
  margin-bottom: 10px;
  background-color: rgb(241, 241, 241);
}

.unit-header {
  margin-top: 2px;
  margin-bottom: 8px;
}

.paid {
  background-color: rgb(204, 255, 204);
}

.not-paid {
  background-color: rgb(255, 241, 241);
}

.paid-history {
  display: inline;
  padding: 2px;
  color: green;
  margin: 2px;
}

.not-paid-history {
  display: inline;
  color: red;
  padding: 2px;
  margin: 2px;
}

.expenses {
  font-weight: bold;
  margin-right: 5px;
}

.unit-menu {
  z-index: 33;
}