.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.metric {
    display: grid;
    font-size: 40px;
    background-color: rgb(230, 230, 230);
    height: 200px;
    align-items: center;
    justify-items: center;
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
}